@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema Aluno</h1>
    <p>Sikstema aluno para desneovlvimento do projeto estudo do alunmo, seja bem vindo</p>
</div>
